/*------------------------------------*\
#FONTS
\*------------------------------------*/

@font-face {
	font-family: 'Inter Web';
	font-weight: 400;
	src: url('../fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter Web';
	font-weight: 600;
	src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
}

/*------------------------------------*\
#Variables
\*------------------------------------*/
:root {
	/*colors*/

	--global-color-alpha-light: #ffb9a6;
	--global-color-alpha: #fc8c71;
	--global-color-alpha-dark: #fe7c5a;
	--global-color-alpha-dark-x: #fe6740;
	--global-color-alpha-dark-xx: #ff5d33;

	--global-color-beta: #27255f;
	--global-color-omega: #1c5c5c;

	--global-color-neutral-xxxxx-light: white;
	--global-color-neutral-xxxx-light: white;
	--global-color-neutral-xxx-light: #fafaff;
	--global-color-neutral-xx-light: #ececf0;
	--global-color-neutral-x-light: #c8c8cc;
	--global-color-neutral-light: #aaaab3;
	--global-color-neutral: #8d8d99;
	--global-color-neutral-dark: #757580;
	--global-color-neutral-x-dark: #5d5d66;
	--global-color-neutral-xx-dark: #3b3f40;
	--global-color-neutral-xxx-dark: #17191a;
	--global-color-neutral-xxxx-dark: #17171a;

	/* border variables */
	--global-borderRadius: 12px;
	--global-borderWidth: 2px;

	/* transitions */
	--global-transitionTiming-alpha: 0.1s ease-out;

	/* Baseline settings */
	--global-baseline: 8px;
	--global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

	--global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
	--global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
	--global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
	--global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
	--global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
	--global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */

	/*fontsizes: modular scale met base 16px en ratio 1.5*/
	--global-fontsize-sm: 12px;
	--global-fontsize: 16px;
	--global-fontsize-md: 24px;
	--global-fontsize-lg: 36px;
	--global-fontsize-xl: 54px;

	/*error*/

	--global-color-error: #8c0015;
	--global-input-error-boxShadowColor: #8c001580;
	--input-border: none;
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
	font-size: var(--global-fontsize); /*16px*/
	line-height: 1.5;
	font-family: 'IBM Plex Sans', 'Inter Web', Helvetica, arial, sans-serif;
	font-weight: 400;
	color: var(--global-color-neutral-xxx-dark);
	background-color: var(--global-color-neutral-xx-light);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
}
@media (prefers-color-scheme: dark) {
	html {
		color: var(--global-color-neutral-xx-light);
		background-color: var(--global-color-neutral-xx-dark);
	}
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
::-moz-selection {
	background: var(--global-color-selection);
	color: var(--global-color-neutral-xxxxx-light);
	text-shadow: none;
}

::selection {
	background: var(--global-color-selection);
	color: var(--global-color-neutral-xxxxx-light);
	text-shadow: none;
}
/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
	max-width: 100%;
	vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
	font-weight: 700;
}

h1 {
	font-size: var(--global-fontsize-xl);
	line-height: calc(var(--global-baseline) * 6);
	margin: 0 0 var(--global-whitespace);
}

h2 {
	font-size: var(--global-fontsize-lg);
	line-height: calc(var(--global-baseline) * 5);
	margin: 0 0 var(--global-whitespace);
}

h3 {
	font-size: var(--global-fontsize-md);
	line-height: calc(var(--global-baseline) * 4);
	margin: 0 0 var(--global-whitespace);
}

h4,
h5,
h6 {
	font-size: var(--global-fontsize);
	font-weight: 600;
	line-height: calc(var(--global-baseline) * 3);
	margin: 0 0 var(--global-whitespace);
}

p,
ol,
ul,
dl,
table,
address,
figure {
	margin: 0 0 var(--global-whitespace);
}

ul,
ol {
	padding-left: var(--global-whitespace);
}

li ul,
li ol {
	margin-bottom: 0;
}

blockquote {
	font-style: normal;
	font-size: var(--global-fontsize-md);
	line-height: calc(var(--global-baseline) * 6);
	margin: 0 0 var(--global-whitespace);
}

blockquote * {
	font-size: inherit;
	line-height: inherit;
}

figcaption {
	font-weight: 400;
	font-size: var(--global-fontsize-sm);
	line-height: calc(var(--global-baseline) * 2);
	margin-top: var(--global-whitespace-xxs);
}

hr {
	border: 0;
	height: var(--global-borderWidth);
	background: var(--global-color-neutral-x-light);
	margin: 0 0 var(--global-whitespace);
}

a,
a:visited {
	transition: all var(--global-transitionTiming-alpha);
	color: var(--global-color-alpha);
	outline-color: var(--global-link-BoxShadowColor);
	outline-width: medium;
	outline-offset: 2px;
	text-decoration: none;
}

a:hover,
a:focus {
	color: var(--global-color-alpha-light);
}

a:active {
	color: var(--global-color-alpha-dark);
}

label,
input {
	display: block;
}

input::placeholder {
	color: var(--color-placeholder, var(--global-color-neutral-x-light));
}

body {
	height: 100%;
	display: flex;
    flex-direction: column;
    background-image: url();
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
	position: relative;

	padding: var(--global-whitespace) var(--global-whitespace) 0;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px; /* 79.5 * 16px = 1272 */
	width: 100%;
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
	position: relative;
}

.o-section + .o-section {
	padding-top: var(--global-whitespace);
}

@media (min-width: 768px) {
	.o-section--lg + .o-section--lg,
	.o-section--xl + .o-section--xl {
		padding-top: var(--global-whitespace-lg);
	}
}

@media (min-width: 992px) {
	.o-section--xl + .o-section--xl {
		padding-top: var(--global-whitespace-xxl);
	}
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.o-layout__item {
	width: 100%;
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
	margin: 0 -12px;
}

.o-layout--gutter > .o-layout__item {
	padding: 0 12px;
}

.o-layout--gutter-sm {
	margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
	padding: 0 6px;
}

.o-layout--gutter-lg {
	margin: 0 calc(var(--global-whitespace) * -1);
}

.o-layout--gutter-lg > .o-layout__item {
	padding: 0 var(--global-whitespace);
}

.o-layout--gutter-xl {
	margin: 0 calc(var(--global-whitespace-lg) * -1);
}

.o-layout--gutter-xl > .o-layout__item {
	padding: 0 var(--global-whitespace-lg);
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
	flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
	justify-content: flex-start;
}

.o-layout--justify-end {
	justify-content: flex-end;
}

.o-layout--justify-center {
	justify-content: center;
}

.o-layout--justify-space-around {
	justify-content: space-around;
}

.o-layout--justify-space-evenly {
	justify-content: space-evenly;
}

.o-layout--justify-space-between {
	justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
	align-items: flex-start;
}

.o-layout--align-end {
	align-items: flex-end;
}

.o-layout--align-center {
	align-items: center;
}

.o-layout--align-baseline {
	align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
	align-content: start;
}

.o-layout--align-content-end {
	align-content: end;
}

.o-layout--align-content-center {
	align-content: center;
}

.o-layout--align-content-space-around {
	align-content: space-around;
}

.o-layout--align-content-space-between {
	align-content: space-between;
}
